.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

.vscode/settings.json
exercise1/main
exercise2/main
exercise3/main
exercise4/main
